{% extends 'website/base.html' %}
{% load static %}
{% block title %}Booking{% endblock title %}

{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Book with Us</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Bookings</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->

        <!-- ======= Book a Property Section ======= -->
    <section id="book-a-stay" class="book-a-stay">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Book a Property</h2>
                <p>Book <span>Your Stay</span> With Us</p>
            </div>

            <div class="row g-0">

                <div class="col-lg-4 reservation-img"
                     style='background-image: url("/static/website/img/reservation.jpg");' data-aos="zoom-out"
                     data-aos-delay="200"></div>

                <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
                    <form action="" method="post" role="form" class="php-email-form" data-aos="fade-up"
                          data-aos-delay="100">
                        <div class="row gy-4">
                            {{ booking_form.non_field_errors }}
                            <div class="col-lg-4 col-md-6">
                                {{ booking_form.book_name.errors }}
                                {{ booking_form.book_name }}
                                <div class="validate"></div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                {{ booking_form.book_email.errors }}
                                {{ booking_form.book_email }}
                                <div class="validate"></div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                {{ booking_form.book_phone.errors }}
                                {{ booking_form.book_phone }}
                                <div class="validate"></div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                {{ booking_form.book_date.errors }}
                                {{ booking_form.book_date }}
                                <div class="validate"></div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                {{ booking_form.book_time.errors }}
                                {{ booking_form.book_time }}
                                <div class="validate"></div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                {{ booking_form.book_n_people.errors }}
                                {{ booking_form.book_n_people }}
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            {{ booking_form.book_subject.errors }}
                            {{ booking_form.book_subject }}
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message">Something went wrong, contact us as
                                kingdom_homesstays@gmail.com
                            </div>
                            <div class="sent-message">Your booking request was sent. We will call back or send
                                an e-mail
                                to confirm your reservation. Thank you!
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Book a Property</button>
                        </div>
                    </form>
                </div><!-- End Reservation Form -->

            </div>

        </div>
    </section><!-- End Book a Property Section -->


  </main><!-- End #main -->
{% block page_js %}
<script type='text/javascript'>

  $(document).ready(function(){

    // AJAX for posting
    function book_with_us() {
        $(".sent-message, .error-message").removeClass("d-block");
        $.ajax({
            headers: {'X-Requested-With': 'XMLHttpRequest'},
            url : "{% url 'contact_us' %}", // the endpoint
            type : "POST", // http method
            data : {
              book_name: $('#id_book_name').val(),
              book_email: $('#id_book_email').val(),
              book_phone: $('#id_book_phone').val(),
              book_date: $('#id_book_date').val(),
              book_time: $('#id_book_time').val(),
              book_n_people: $('#id_book_n_people').val(),
              book_subject: $('#id_book_subject').val(),
              csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            }, // data sent with the post request
            // handle a successful response
            success : function(response) {
                // remove the value from the input
                $('#id_name').val('');
                $('#id_book_email').val(); // remove the value from the input
                $('#id_book_phone').val(); // remove the value from the input
                $('#id_book_date').val();
                $('#id_book_time').val();
                $('#id_book_n_people').val();
                $('#id_book_subject').val();
                $(".sent-message").html(response.responseText);
                $(".sent-message").addClass("d-block");
            },

            // handle a non-successful response
            error : function(response) {
                var err_msg = $.parseJSON(response.responseText);
                var error = "";
                $.each(err_msg, function(key, value){
                    console.log( "Key: " + key + ", Value: " + value );
                    error += "<p>" + value + "</p>"
                })
                $(".error-message").html(error);
                $(".error-message").addClass("d-block");
            }
        });
    }

    // Submit post on submit
    $('.php-email-form').off().on('submit', function(event){
        event.preventDefault();
        event.stopPropagation();
        book_with_us();
    });

})
</script>

{% endblock page_js %}

{% endblock content %}