{% extends 'website/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
        <div class="row justify-content-between gy-5">
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                <h2 data-aos="fade-up">Have a property<br>for rent?</h2>
                <p data-aos="fade-up" data-aos-delay="100">Do you have a property you need to rent? We are a local
                    hospitality company and we're looking for rentals just like yours!</p>
                <p data-aos="fade-up" data-aos-delay="100">We offer daily professional cleanings, pet and smoke-free
                    tenants, minimal appliance and water usage, the lowest wear and tear, secure keyless entry and
                    automatic monthly rental payments <b><u>ALL AT A ZERO COST</u></b></p>
                <p data-aos="fade-up" data-aos-delay="100">We also furnish your unfurnished properties with brand-new
                    and latest modernist furniture.</p>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <a href="#book-a-stay" class="btn-book-a-stay">Book a Property</a>
                    <a href="{% static 'website/kingdom_homes_video.mp4' %}"
                       class="glightbox btn-watch-video d-flex align-items-center"><i
                            class="bi bi-play-circle"></i><span>Watch Video</span></a>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                <img src="{% static 'website/img/hero-img.jpg' %}" class="img-fluid" alt="" data-aos="zoom-out"
                     data-aos-delay="300">
            </div>
        </div>
    </div>
</section><!-- End Hero Section -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>About Us</h2>
                <p>Learn More <span>About Us</span></p>
            </div>

            <div class="row gy-4">
                <div class="col-lg-7 position-relative about-img"
                     style='background-image: url("/static/website/img/about-try.jpg")' data-aos="fade-up"
                     data-aos-delay="150">
                    <div class="call-us position-absolute">
                        <h4>Book a Property</h4>
                        <p>+1 (407) 217-3056</p>
                    </div>
                </div>
                <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                    <div class="content ps-0 ps-lg-5">
                        <p class="fst-italic">
                            Kingdom Homes Stays was started 14 years ago by Eric Carmichael in Orlando, Florida. At
                            first
                            the company was only leasing single-family houses throughout the Central Florida area,
                            however,
                            shortly after our doors opened we realized there was a massive demand for single and
                            multifamily short-term rentals as well. Our company most valuable asset is that we are
                            property owners ourselves.
                        </p>
                        <ul>
                            <li><i class="bi bi-check2-all"></i> We practice what we preach.
                            </li>
                            <li><i class="bi bi-check2-all"></i> We short term and lease our own properties.
                            </li>
                            <li><i class="bi bi-check2-all"></i> We use the latest technology in the industry. It helps
                                to provide greater transparency and reduced costs to ourselves and our clients - A
                                win-win.
                            </li>
                        </ul>
                        <p>
                            Our customer service is what separates us from our competition because we live it and have
                            proven methods that we use, and we offer it to other owners who want the benefit but don't
                            have the time or experience to maximize their property's true value in an expedited time
                            frame. We carefully select our clients to make sure their core values align with those of
                            Kingdom Homes Stays.
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4">

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="why-box">
                        <h3>Why Choose Kingdom Homes?</h3>
                        <p>
                            At Kingdom Homes we're not just selling you a room, we’re in the business of curating
                            experiences that last a lifetime. Acclaimed and awarded for our hospitality standards by
                            customers, critics and media alike, your search for the finest ends at Kingdom Home Stays.
                        </p>
                        <div class="text-center">
                            <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div><!-- End Why Box -->

                <div class="col-lg-8 d-flex align-items-center">
                    <div class="row gy-4">

                        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-clipboard-data"></i>
                                <h4>Is There Any Charge For Working With You?</h4>
                                <p>There are no fees, charges, or hidden costs whatsoever to work with us. We sign a 6
                                    or 12 month lease and provide a deposit, just like a typical tenant.</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-gem"></i>
                                <h4>Who Would Be Staying In My Property?</h4>
                                <p>Our guests are business leisure travelers who are seeking something different. We
                                    deliver the “un-hotel” experience to our guests.</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-inboxes"></i>
                                <h4>How Do I See If My Property Will Qualify?</h4>
                                <p>Your place may be exactly what we’re looking for. To find out if it’s a fit for both
                                    of us, just click CONTACT US below and we’ll be in touch!</p>
                            </div>
                        </div><!-- End Icon Box -->

                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter">
        <div class="container" data-aos="zoom-out">

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>Airbnbs</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>Bungalows</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>Party Lawns</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="6" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>Luxury Villas</p>
                    </div>
                </div><!-- End Stats Item -->

            </div>

        </div>
    </section><!-- End Stats Counter Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Testimonials</h2>
                <p>What Are They <span>Saying About Us</span></p>
            </div>

            <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="row gy-4 justify-content-center">
                                <div class="col-lg-6">
                                    <div class="testimonial-content">
                                        <p>
                                            <i class="bi bi-quote quote-icon-left"></i>
                                            We have worked with Eric Since 2008 and his passion, customer service and
                                            care for our needs of our properties have been met every time. He always
                                            gets the job done in less than thirty days, his slogan from then till now
                                            Call today-Rent Tomorrow!
                                            <i class="bi bi-quote quote-icon-right"></i>
                                        </p>
                                        <h3>Dan and Tandi Camilli</h3>
                                        <h4>Property Investors</h4>
                                        <div class="stars">
                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                class="bi bi-star-fill"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 text-center">
                                    <img src="{% static 'website/img/testimonials/testimonials-1.jpg' %}"
                                         class="img-fluid testimonial-img" alt="">
                                </div>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

<!--                    <div class="swiper-slide">-->
<!--                        <div class="testimonial-item">-->
<!--                            <div class="row gy-4 justify-content-center">-->
<!--                                <div class="col-lg-6">-->
<!--                                    <div class="testimonial-content">-->
<!--                                        <p>-->
<!--                                            <i class="bi bi-quote quote-icon-left"></i>-->
<!--                                            Export tempor illum tamen malis malis eram quae irure esse labore quem-->
<!--                                            cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua-->
<!--                                            noster fugiat irure amet legam anim culpa.-->
<!--                                            <i class="bi bi-quote quote-icon-right"></i>-->
<!--                                        </p>-->
<!--                                        <h3>Sandy Maharaj</h3>-->
<!--                                        <h4>Property Owner/Investor</h4>-->
<!--                                        <div class="stars">-->
<!--                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i-->
<!--                                                class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i-->
<!--                                                class="bi bi-star-fill"></i>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-lg-2 text-center">-->
<!--                                    <img src="{% static 'website/img/testimonials/testimonials-2.jpg' %}"-->
<!--                                         class="img-fluid testimonial-img" alt="">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; End testimonial item &ndash;&gt;-->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="row gy-4 justify-content-center">
                                <div class="col-lg-6">
                                    <div class="testimonial-content">
                                        <p>
                                            <i class="bi bi-quote quote-icon-left"></i>
                                            We had an investment property we closed on and shortly after we decided to
                                            rent it for a term. We were referred to Eric through a family friend. Not
                                            only did he relieve us of the pressure of the unknown dealing with renters,
                                            his method of pre-screening the renters before we met them made the world of
                                            a difference. We love his slogan, Call today - Rent Tomorrow
                                            <i class="bi bi-quote quote-icon-right"></i>
                                        </p>
                                        <h3>Ralph and Ollie Thompson</h3>
                                        <h4>First Time Investors</h4>
                                        <div class="stars">
                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                class="bi bi-star-fill"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 text-center">
                                    <img src="{% static 'website/img/testimonials/testimonials-3.jpg' %}"
                                         class="img-fluid testimonial-img" alt="">
                                </div>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

<!--                    <div class="swiper-slide">-->
<!--                        <div class="testimonial-item">-->
<!--                            <div class="row gy-4 justify-content-center">-->
<!--                                <div class="col-lg-6">-->
<!--                                    <div class="testimonial-content">-->
<!--                                        <p>-->
<!--                                            <i class="bi bi-quote quote-icon-left"></i>-->
<!--                                            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor-->
<!--                                            noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat-->
<!--                                            legam esse veniam culpa fore nisi cillum quid.-->
<!--                                            <i class="bi bi-quote quote-icon-right"></i>-->
<!--                                        </p>-->
<!--                                        <h3>Jose Perez</h3>-->
<!--                                        <h4>Property Investor with 30+ units</h4>-->
<!--                                        <div class="stars">-->
<!--                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i-->
<!--                                                class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i-->
<!--                                                class="bi bi-star-fill"></i>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-lg-2 text-center">-->
<!--                                    <img src="{% static 'website/img/testimonials/testimonials-4.jpg' %}"-->
<!--                                         class="img-fluid testimonial-img" alt="">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; End testimonial item &ndash;&gt;-->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
        <div class="container-fluid" data-aos="fade-up">

            <div class="section-header">
                <h2>Stay with us</h2>
                <p>Stay in <span>Our Pristine</span> Homes</p>
            </div>

            <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide event-item d-flex flex-column justify-content-end"
                         style='background-image: url("static/website/img/events-4.jpg")'>
                        <h3>Better than Home</h3>
                        <div class="price align-self-start">$99</div>
                        <p class="description">
                            Quo corporis voluptas ea ad. Consectetur inventore sapiente ipsum voluptas eos omnis facere.
                            Enim facilis veritatis id est rem repudiandae nulla expedita quas.
                        </p>
                    </div><!-- End Event item -->

                    <div class="swiper-slide event-item d-flex flex-column justify-content-end"
                         style='background-image: url("static/website/img/events-5.jpg")'>
                        <h3>On the Go Vacations</h3>
                        <div class="price align-self-start">$289</div>
                        <p class="description">
                            In delectus sint qui et enim. Et ab repudiandae inventore quaerat doloribus. Facere nemo
                            vero est ut dolores ea assumenda et. Delectus saepe accusamus aspernatur.
                        </p>
                    </div><!-- End Event item -->

                    <div class="swiper-slide event-item d-flex flex-column justify-content-end"
                         style='background-image: url("/static/website/img/events-6.jpg")'>
                        <h3>Casa De Vacacion</h3>
                        <div class="price align-self-start">$499</div>
                        <p class="description">
                            Laborum aperiam atque omnis minus omnis est qui assumenda quos. Quis id sit quibusdam. Esse
                            quisquam ducimus officia ipsum ut quibusdam maxime. Non enim perspiciatis.
                        </p>
                    </div><!-- End Event item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Events Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>gallery</h2>
                <p>Check <span>Our Gallery</span></p>
            </div>

            <div class="gallery-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                 href="{% static 'website/img/gallery/gallery-1.jpg' %}"><img
                            src="{% static 'website/img/gallery/gallery-1.jpg' %}" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                 href="{% static 'website/img/gallery/gallery-2.jpg' %}"><img
                            src="{% static 'website/img/gallery/gallery-2.jpg' %}" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                 href="{% static 'website/img/gallery/gallery-3.jpg' %}"><img
                            src="{% static 'website/img/gallery/gallery-3.jpg' %}" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                 href="{% static 'website/img/gallery/gallery-4.jpg' %}"><img
                            src="{% static 'website/img/gallery/gallery-4.jpg' %}" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                 href="{% static 'website/img/gallery/gallery-5.jpg' %}"><img
                            src="{% static 'website/img/gallery/gallery-5.jpg' %}" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                 href="{% static 'website/img/gallery/gallery-6.jpg' %}"><img
                            src="{% static 'website/img/gallery/gallery-6.jpg' %}" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                 href="{% static 'website/img/gallery/gallery-7.jpg' %}"><img
                            src="{% static 'website/img/gallery/gallery-7.jpg' %}" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                                 href="{% static 'website/img/gallery/gallery-8.jpg' %}"><img
                            src="{% static 'website/img/gallery/gallery-8.jpg' %}" class="img-fluid" alt=""></a></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Contact</h2>
                <p>Need Help? <span>Contact Us</span></p>
            </div>

            <div class="row gy-4">

                <div class="col-md-6">
                    <div class="info-item  d-flex align-items-center">
                        <i class="icon bi bi-map flex-shrink-0"></i>
                        <div>
                            <h3>Our Address</h3>
                            <p>3514 Sebring Ave Orlando, FL 32806</p>
                        </div>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-md-6">
                    <div class="info-item d-flex align-items-center">
                        <i class="icon bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h3>Email Us</h3>
                            <p>kingdomhomesstays@gmail.com</p>
                        </div>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-md-6">
                    <div class="info-item  d-flex align-items-center">
                        <i class="icon bi bi-telephone flex-shrink-0"></i>
                        <div>
                            <h3>Call Us</h3>
                            <p>+1 (407) 217-3056</p>
                        </div>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-md-6">
                    <div class="info-item  d-flex align-items-center">
                        <i class="icon bi bi-share flex-shrink-0"></i>
                        <div>
                            <h3>Opening Hours</h3>
                            <div><strong>Mon-Sat:</strong> 9AM - 6PM;
                                <strong>Sunday:</strong> 11AM-5PM
                            </div>
                        </div>
                    </div>
                </div><!-- End Info Item -->

            </div>

            <form action="" method="post" role="form" class="php-email-form p-3 p-md-4">
                {% csrf_token %}
                <div class="row">
                    {{ contact_form.non_field_errors }}
                    <div class="col-xl-6 form-group">
                        {{ contact_form.name.errors }}
                        {{ contact_form.name }}
                    </div>
                    <div class="col-xl-6 form-group">
                        {{ contact_form.email.errors }}
                        {{ contact_form.email }}
                    </div>
                </div>
                <div class="form-group">
                    <!--                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required="">-->
                    {{ contact_form.subject.errors }}
                    {{ contact_form.subject }}
                </div>
                <div class="form-group">
                    <!--                    <textarea class="form-control" name="message" rows="5" placeholder="Message" required=""></textarea>-->
                    {{ contact_form.message.errors }}
                    {{ contact_form.message }}
                </div>
                <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message">Something went wrong, contact us at
                        kingdom_homesstays@gmail.com
                    </div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center">
                    <button type="submit">Send Message</button>
                </div>
            </form>
            <!--End Contact Form -->

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

{% block page_js %}
<script type='text/javascript'>

  $(document).ready(function(){

    $('.events').hide();
    $('.stats-counter').hide();

    // AJAX for posting
    function contact_us() {
        $(".sent-message, .error-message").removeClass("d-block");
        $.ajax({
            headers: {'X-Requested-With': 'XMLHttpRequest'},
            url : "{% url 'contact_us' %}", // the endpoint
            type : "POST", // http method
            data : {
              name: $('#id_name').val(),
              subject: $('#id_subject').val(),
               email: $('#id_email').val(),
               message: $('#id_message').val(),
               csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            }, // data sent with the post request
            // handle a successful response
            success : function(response) {
                // remove the value from the input
                $('#id_name').val('');
                $('#id_subject').val(''); // remove the value from the input
                 $('#id_email').val(''); // remove the value from the input
                 $('#id_message').val('');
                $(".sent-message").html(response.responseText);
                $(".sent-message").addClass("d-block");
            },

            // handle a non-successful response
            error : function(response) {
                var err_msg = $.parseJSON(response.responseText);
                var error = "";
                $.each(err_msg, function(key, value){
                    console.log( "Key: " + key + ", Value: " + value );
                    error += "<p>" + value + "</p>"
                })
                $(".error-message").html(error);
                $(".error-message").addClass("d-block");
            }
        });
    }

    // Submit post on submit
    $('.php-email-form').off().on('submit', function(event){
        event.preventDefault();
        event.stopPropagation();
        contact_us();
    });

})




</script>

{% endblock page_js %}

{% endblock content %}